apiVersion: v1
kind: Pod
metadata:
  name: gvirtus-frontend-pod
  namespace: gvirtus-system
spec:
  restartPolicy: Never
  containers:
  - name: gvirtus-frontend
    image: tinghui8576/gvirtus_frontend_example:latest
    imagePullPolicy: Always
    securityContext:
      privileged: true
      allowPrivilegeEscalation: true
    env:
    - name: GVIRTUS_HOME
      value: "/usr/local/gvirtus"
    - name: SERVICE_PORT
      value: "2222"
    command: ["/bin/bash", "-c"]
    args:
      - |
        BACKEND_IP=$(getent hosts gvirtus-backend.gvirtus-system.svc.cluster.local | awk '{ print $1 }')
        sed -i 's/"server_address": "[^"]*"/"server_address": "'"${BACKEND_IP}"'"/' ${GVIRTUS_HOME}/etc/properties.json
        sed -i 's/"port": "[^"]*"/"port": "'"${SERVICE_PORT}"'"/' ${GVIRTUS_HOME}/etc/properties.json

        # run your frontend executable
        ./example

    
